<a href="https://colab.research.google.com/github/kakderushi/Python/blob/main/Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Pandas

**Pandas**

In [ ]:
# series
population_data={'New York':12344,
                 'loss angel':2344,
                 'chicago':33545,
                 'houston':1234,
                 'phonex':1988}

In [ ]:
import pandas as pd
pop=pd.Series(population_data)
pop

New York      12344
loss angel     2344
chicago       33545
houston        1234
phonex         1988
dtype: int64

In [ ]:
len(pop)

5

In [ ]:
pop.dtype

dtype('int64')

In [ ]:
pop.isnull()

New York      False
loss angel    False
chicago       False
houston       False
phonex        False
dtype: bool

In [ ]:
pop.head(4)

New York      12344
loss angel     2344
chicago       33545
houston        1234
dtype: int64

In [ ]:
pop.tail(3)

chicago    33545
houston     1234
phonex      1988
dtype: int64

In [ ]:
pop.describe()

count        5.000000
mean     10291.000000
std      13775.768509
min       1234.000000
25%       1988.000000
50%       2344.000000
75%      12344.000000
max      33545.000000
dtype: float64

In [ ]:
pop.info()

<class 'pandas.core.series.Series'>
Index: 5 entries, New York to phonex
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 252.0+ bytes

In [ ]:
pop.index

Index(['New York', 'loss angel', 'chicago', 'houston', 'phonex'], dtype='object')

In [ ]:
pop.name

In [ ]:
pop.values

array([12344,  2344, 33545,  1234,  1988])

In [ ]:
pop.unique

<bound method Series.unique of New York      12344
loss angel     2344
chicago       33545
houston        1234
phonex         1988
dtype: int64>

In [ ]:
pop.is_unique

True

In [ ]:
pop.memory_usage

<bound method Series.memory_usage of New York      12344
loss angel     2344
chicago       33545
houston        1234
phonex         1988
dtype: int64>

Basic method for **series**

In [ ]:
import numpy as np
grades_data={
    'alice':12,
    'Bob':45,
    'Charlie':np.nan,
    'david':80,
    'eva':68,
    'frank':82,
    'grace':np.nan


}

In [ ]:
grade=pd.Series(grades_data)

In [ ]:
grade.head()

alice      12.0
Bob        45.0
Charlie     NaN
david      80.0
eva        68.0
dtype: float64

In [25]:
s=grade.astype(object)
s.is_unique

False

In [27]:
g=grade.between(70,85)
print(g)

alice      False
Bob        False
Charlie    False
david       True
eva        False
frank       True
grace      False
dtype: bool

In [28]:
grade.clip(70,85)

alice      70.0
Bob        70.0
Charlie     NaN
david      80.0
eva        70.0
frank      82.0
grace       NaN
dtype: float64

In [29]:
grade.drop_duplicates()  # it will remove the duplicates values from the data set

alice      12.0
Bob        45.0
Charlie     NaN
david      80.0
eva        68.0
frank      82.0
dtype: float64

In [30]:
grade.isnull()

alice      False
Bob        False
Charlie     True
david      False
eva        False
frank      False
grace       True
dtype: bool

In [31]:
grade.dropna() # here it will drop the null values

alice    12.0
Bob      45.0
david    80.0
eva      68.0
frank    82.0
dtype: float64

In [32]:
grades_data={
    'alice':12,
    'Bob':45,
    'Charlie':np.nan,
    'david':80,
    'eva':68,
    'frank':82,
    'grace':np.nan


}
grade1=pd.Series(grades_data)

In [33]:
grade1.fillna(75)  # here we will fill the null values from the table

alice      12.0
Bob        45.0
Charlie    75.0
david      80.0
eva        68.0
frank      82.0
grace      75.0
dtype: float64

In [35]:
 grade1.isin([80,75]) # to find out the values

alice      False
Bob        False
Charlie    False
david       True
eva        False
frank      False
grace      False
dtype: bool

In [36]:
grade1.copy()

alice      12.0
Bob        45.0
Charlie     NaN
david      80.0
eva        68.0
frank      82.0
grace       NaN
dtype: float64

In [37]:
# replace the values
grade1.replace(80,445)

alice       12.0
Bob         45.0
Charlie      NaN
david      445.0
eva         68.0
frank       82.0
grace        NaN
dtype: float64

In [40]:
grade1.drop('Bob')

alice      12.0
Charlie     NaN
david      80.0
eva        68.0
frank      82.0
grace       NaN
dtype: float64

In [41]:
grade1.sort_index()

Bob        45.0
Charlie     NaN
alice      12.0
david      80.0
eva        68.0
frank      82.0
grace       NaN
dtype: float64

In [42]:
series=pd.Series([10,20,30,40,50],index=['A','B','C','D','E'])

In [43]:
series

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [44]:
series['C']

30

In [45]:
#iloc : interger location
#loc : label location

In [47]:
series.loc['C']

30

In [48]:
series.iloc[2]

30

In [49]:
series.value_counts()

10    1
20    1
30    1
40    1
50    1
dtype: int64

In [51]:
series.groupby

TypeError: You have to supply one of 'by' and 'level'

In [52]:
# statistical methods
series.to_csv()

',0\nA,10\nB,20\nC,30\nD,40\nE,50\n'

In [53]:
series.to_frame()

    0
A  10
B  20
C  30
D  40
E  50

In [54]:
series.mean()

30.0

In [55]:
series.median()

30.0

In [56]:
series.mode()

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [57]:
series.to_dict()

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}

In [58]:
series.to_string()

'A    10\nB    20\nC    30\nD    40\nE    50'

In [59]:
# to save in  differnt file foramt

In [60]:
series=pd.Series([10,20,30,40,50],index=['A','B','C','D','E'])

In [61]:
series.to_csv("series_data.csv")

In [62]:
series.to_excel('series-data.xlsx')

In [63]:
series.to_json("series_data.json")

# Operation between two differnt Series

In [64]:
series1=pd.Series([10,20,30,40,50])
series2=pd.Series([2,3,4,5,6,8])

In [66]:
series1.add(series2)  # addition

0    12.0
1    23.0
2    34.0
3    45.0
4    56.0
5     NaN
dtype: float64

In [68]:
series1.mul(series2)  # multiplcation

0     20.0
1     60.0
2    120.0
3    200.0
4    300.0
5      NaN
dtype: float64

In [69]:
series1.sub(series2)

0     8.0
1    17.0
2    26.0
3    35.0
4    44.0
5     NaN
dtype: float64

In [70]:
series1.pow(series2)

0    1.000000e+02
1    8.000000e+03
2    8.100000e+05
3    1.024000e+08
4    1.562500e+10
5             NaN
dtype: float64

In [72]:
series1.abs()

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [73]:
series2.abs()

0    2
1    3
2    4
3    5
4    6
5    8
dtype: int64

In [76]:
# concatnation operations
pd.concat([series1,series2])

0    10
1    20
2    30
3    40
4    50
0     2
1     3
2     4
3     5
4     6
5     8
dtype: int64

In [79]:
# ploating